<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('partials/_globalHeaders.ejs') %>
        <title>SIGNUP</title>
    </head>
    <body>
        <%- include('partials/_navbar.ejs') %>

        <main>

            <header class="hero-services">

                <div class="hero-services__title-container">
                    <h1 class="title title--center">NUESTROS SERVICIOS</h1>
                </div>

                <section class="hero-services__services-container">
                    <article class="hero-services__service">
                        <h3>ACCESORIOS EXCLUSIVOS</h3>
                        <p>En nuestra tienda física y nuestra página web, podrás encontrar accesorios exlusivos y originales para las marcas premium A1 y A2.</p>
                    </article>

                    <article class="hero-services__service">
                        <h3>INSTALACIÓN</h3>
                        <p>Contamos con personal altamente capacitado para instalar tus accesorios.</p>
                    </article>

                    <article class="hero-services__service">
                        <h3>PRODUCTOS IMPORTADOS</h3>
                        <p>Importamos los productos de más alta calidad desde el exterios.</p>
                    </article>
                </section>

            </header>

            <% if(data.featuredProducts) {%>

                <section class="featured-products">

                    <h2 class="title title--center">PRODUCTOS DESTACADOS</h2>
    
                    <div class="cards_container cards_container--center-items">
    
                        <% for(var i=0; i < data.featuredProducts.length -1; i++) { %>

                        <article class="featured-product-card">
                            <div class="featured-product-card__image">
                                <img src="/images/<%= data.featuredProducts[0][0].ruta_imagen %>" alt="<%= data.featuredProducts[0][0].nombre %>">
                            </div>
                            <div class="featured-product-card__body">
                                <h3 class="card__title"><%= data.featuredProducts[0][0].nombre %></h2>
    
                                <p><span>Precio actual: </span> $<%= data.featuredProducts[0][0].precio_final %></p>
                                <p><span>Unidades vendidas: </span> <%= data.featuredProducts[0][0].unidades_vendidas %></p>
    
                                <div class="accessory-basic-card__btns">
                                    <a href="#" class="btn btn--primary btn--card btn--center">AÑADIR AL CARRITO</a>
                                    <a href="#" class="btn btn--secondary btn--card btn--center">VER DETALLES</a>
                                </div>
                            </div>
                        </article>
        
                        <% } %> 

                    </div>
    
                </section>

            <% } %>

        </main>

        <%- include('partials/_globalScripts.ejs') %>

    </body>
</html>
