<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('partials/_globalHeaders.ejs') %>
        <title>SIGNUP</title>
    </head>
    <body>
        <%- include('partials/_navbar.ejs') %>

        <main>

            <%- include('partials/_messages.ejs') %>
        
            <section class="section--no-top-margin select_accessory_type">
                <h1 class="title title--center">PRODUCTOS EN VENTA: </h1>
    
                <div class="cards_container cards_container--center-items">

                    <% for(var i = 0; i < products[0].length; i++) { %>
                    
                        <article class="generic-card accessory-basic-card">
                            <div class="accessory-basic-card__image">
                                <img data-src="/images<%=products[0][i].ruta_imagen%>" class="lazyload" alt="<%=products[0][i].nombre %>">
                            </div>
                            <div class="accessory-basic-card__body">
                                <h3 class="card__title"><%=products[0][i].nombre %></h2>
                                <p class="price"><span>Precio: </span><%=products[0][i].precio_final %></p>
    
                                <div class="accessory-basic-card__btns">

                                    <% if(user) {%>
                                        <a role="button" tabindex="0" class="btn btn--primary btn--card btn--center" data-id="<%= products[0][i].id_accesorio %>" id="addToCartBtn" aria-label="Añadir <%=products[0][i].nombre %> al carrito de compras">AÑADIR AL CARRITO</a>
                                    <% } %>
                                    <a href="/accessories/<%= products[0][i].id_accesorio %>" class="btn btn--secondary btn--card btn--center" aria-label="Ver detalles de <%=products[0][i].nombre %>">VER DETALLES</a>

                                </div>
                            </div>
                        </article>
                    
                    <% } %>
    
                </div>
    
            </section>

        </main>

        <%- include('partials/_globalScripts.ejs') %>
        <script src="/scripts/addToCartBtn.js"></script>
        <script src="/scripts/vendors/lazysizes.min.js" async></script>

    </body>
</html>
