<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/_globalHeaders.ejs') %>
    <title>SELECCIÓN TIPO DE REPORTE FINANCIERO</title>
</head>
<body>

    <%- include('../partials/_navbar.ejs') %>

    <main>
        
        <section class="select_accessory_type">
            <h1 class="title title--center">SELECCIÓN TIPO DE REPORTE FINANCIERO</h1>

            <div class="cards_container cards_container--center-items">
                
                <article class="generic-card  accessory_type_card">
                    <div class="accessory_type_card__image">
                        <img src="/images/finances_profits.jpg" alt="">
                    </div>
                    <div class="accessory_type_card__body">
                        <a href="/admin/finances/perform_details/profits" class="btn btn--primary btn--center">HISTÓRICO DE GANANCIAS</a>
                    </div>
                </article>

                <article class="generic-card accessory_type_card">
                    <div class="accessory_type_card__image">
                        <img src="/images/finances_outgoings.jpg" alt="">
                    </div>
                    <div class="accessory_type_card__body">
                        <a href="/admin/finances/perform_details/outgoings" class="btn btn--primary btn--center">HISTÓRICO DE GASTOS</a>
                    </div>
                </article>

                <article class="">
                    <h2 class="title title--black">RESUMEN GANANCIAS O PÉRDIDAS TOTALES</h1>
                        <% if(resume[0][0].resumen > 0) { %>
                            <p id="finances-profit"><span>$<%= resume[0][0].resumen %></span> de ganancias</p>
                        <% } %>
                        
                        <% if(resume[0][0].resumen < 0) { %>
                            <p id="finances-loss"><span>$<%= resume[0][0].resumen %></span> de pérdidas</p>
                        <% } %>
                        
                        <% if(resume[0][0].resumen === 0) { %>
                            <p id="finances-neutral">Estamos en ceros.</p>
                        <% } %>
                </article>

            </div>

        </section>

    </main>
    
    <%- include('../partials/_globalScripts.ejs') %>

</body>
</html>