<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_globalHeaders.ejs') %>
        <title>AGREGAR NUEVO ACCESORIO</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <main>
            
            <form action="/admin/inventory/add_existing/<%= accesorios[0][0].id_accesorio %>" method="post" class="input-form" id="signup-form">
                <%- include('../partials/_messages.ejs') %>

                <h1 class="title title--center">REGISTRAR NUEVAS UNIDADES DE PRODUCTO EXISTENTE</h1>

                <div class="form-group" id="name-group">
                    <label class="label--block" for="name">Nombre del producto:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ingresa el nombre del nuevo accesorio"
                            value="<%= accesorios[0][0].nombre %>"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group" id="description-group">
                    <label class="label--block" for="description">Descripción del producto:</label>
                    <div class="form-group__input">
                        <textarea
                            class="input input--textarea input--full-width"
                            name="description"
                            id="description"
                            placeholder="Ingresa los detalles del nuevo accesorio."
                            wrap="soft"
                            readonly
                        ><%= accesorios[0][0].descripcion %></textarea>
                    </div>
                </div>

                <div class="form-group" id="price-group">
                    <label class="label--block" for="price">Precio del accesorio:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="price"
                            name="price"
                            placeholder="Precio base del accesorio"
                            value="<%= accesorios[0][0].precio_base %>"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group" id="inventory-group">
                    <label class="label--block" for="inventory">Inventario actual del accesorio: </label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="inventory"
                            name="inventory"
                            placeholder="<%= accesorios[0][0].stock %>"
                            value=""
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group" id="buyprice-group">
                    <label class="label--block" for="buyprice">Precio de compra a proveedores nuevo:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="buyprice"
                            name="buyprice"
                            placeholder="Precio de compra"
                        />
                        <p class="form-group__error-message">
                            Sólo se admiten entre 2 y 12 números.
                        </p>
                    </div>
                </div>

                <div class="form-group" id="newAmmount-group">
                    <label class="label--block" for="newAmmount">Nuevas unidades: </label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="newAmmount"
                            name="newAmmount"
                            min="0"
                            placeholder="Nuevas unidades para agregar al inventario"
                        />
                        <p class="form-group__error-message">
                            Sólo se admiten entre 1 y 4 números.
                        </p>
                    </div>
                </div>

                <p class="form__error-message">
                    Por favor, rellene el formulario correctamente antes de realizar el envío.
                </p>

                <input
                    type="submit"
                    value="AGREGAR AL INVENTARIO"
                    class="btn btn--submit btn--primary btn--block btn--no-radius"
                />
            </form>
        </main>
        <script src="/scripts/validations/inventory_upd_validate.js"></script>
        <%- include('../partials/_globalScripts.ejs') %>
    </body>
</html>
