<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_globalHeaders.ejs') %>
        <title>SELECCIONAR ACCESORIO PARA AGREGAR VENTARIO</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <main>

            <section class="inventory_existing_accessories">
                <h1 class="title title--center">ACCESORIOS EXISTENTES: </h1>
    
                <div class="cards_container cards_container--center-items">
                    
                    <% if (accessories) { %>
                        <% for (var i = 0; i < accessories[0].length; i++) { %>
                            
                            <article class="generic-card inventory_existing_accessories_card">
                                <div class="inventory_existing_accessories_card__image">
                                    <img class="lazyload" data-src="/images<%= accessories[0][i].ruta_imagen %>" alt="<%= accessories[0][i].nombre %>">
                                </div>
                                <div class="inventory_existing_accessories_card__body">
                                    <h2 class="card__title"><%= accessories[0][i].nombre %></h2>
                                    <a href="/admin/inventory/add_existing/<%= accessories[0][i].id_accesorio %>" class="btn btn--primary btn--card btn--block" aria-label="Añadir inventario a <%= accessories[0][i].nombre %>">AGREGAR INVENTARIO</a>
                                    <a href="#" class="btn btn--secondary btn--card btn--block" aria-label="Modificar detalles de <%= accessories[0][i].nombre %>">MODIFICAR DETALLES</a>
                                </div>
                            </article>
                        <% }  %> 
                    <% }  %> 
    
                    
    
                </div>
    
            </section>

        </main>

        <%- include('../partials/_globalScripts.ejs') %>
        <script src="/scripts/vendors/lazysizes.min.js" async></script>
        
    </body>
</html>
